.succcessfullOrder {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 30px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.successfullOrderCart {
  width: clamp(300px, 30%, 400px);
  height: 60%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.successfullOrderCart h3 {
  font-size: 30px;
}
.succcessfullOrderCart svg {
  background-color: red;
}
