.thirdProduct {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.description {
  align-self: flex-start;
  margin-left: 5%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  padding-bottom: 40px;
}

.description h3 {
  font-size: clamp(20px, 3vh, 32px);
  letter-spacing: 4px;
}

.description button {
  color: black;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  border-radius: 0;
  border: 0.5px solid black;
}

.thirdProduct img {
  width: 100%;
  max-height: 200px;
}

@media (min-width: 600px) {
  .thirdProduct {
    flex-direction: row;
    gap: 0;
  }
  .thirdProduct img {
    width: 50%;
    max-height: 300px;
  }

  .description {
    text-align: center;
    width: 400px;
    height: 200px;
  }
}
