.productContainer {
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.productContainer a {
  position: absolute;
  left: 3%;
  top: 15px;
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

.productContainer img {
  height: 280px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.description {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.description p span {
  color: #d87d4a;
  letter-spacing: 10px;
  font-weight: 100;
}

.description h2 {
  font-size: 30px;
  line-height: 35px;
}

.productContainer button {
  background-color: #d87d4a;
  border-radius: 0;
  font-weight: 100;
}

.features {
  margin: auto;
  border: 1px red solid;
  width: 80%;
}
.cost {
  font-weight: 700;
}

@media (min-width: 700px) {
  .productContainer {
    width: 90%;
  }
  .description {
    width: 80%;
  }

  .features {
    width: 90%;
  }
}

@media (min-width: 1000px) {
  .productContainer {
    width: 75%;
    flex-direction: row;
    height: 560px;
    justify-content: space-around;
  }

  .productContainer img {
    height: clamp(200px, 90%, 450px);
  }

  .description {
    width: clamp(450px, 45%, 500px);
    height: 65%;
    text-align: start;
    display: flex;
    justify-content: space-between;
  }

  .description h2 {
    font-size: 2.5rem;
  }
  .features {
    width: 40%;
  }
}
